/* FULL SCREEN LOADER */
.loader-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  animation: fadeOut 5s ease forwards;
}

/* WRAPS CIRCLE + TEXT */
.circle-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  animation: fadeOut 5s ease forwards;
}

/* TEXT IN CENTER */
.loader-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  animation: fadeOut 5s ease forwards;
}

/* TEXT FADES OUT */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* MAIN SITE FADE IN */
.main-site {
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}


body{
  width:100%;
  height:100vh;
}
.book{
  top: 50%;
  transform: translateY(-150%);
  position:relative;
  margin:0 auto;
  border:5px solid #897e04;
  width:100px;
  height:60px;
  border-radius: 5px;
}
.book__page{
  position:absolute;
  left:50%;
  top:-5px;
  margin:0 auto;
  border-radius: 5px;
  border-top:5px solid #897e04;
  border-bottom:5px solid #897e04;
  border-right:5px solid #897e04;
  background: solid #897e04;
  width:50px;
  height:60px;
  transform-origin:0% 50%;
  animation:flip 1.2s infinite linear;
  animation-fill-mode:forwards;
}

@keyframes flip {
  0%{
      transform: perspective( 600px )
      rotateY( -0deg );
  }
  
  20%{
    background:darken(#d1c651,10%);
  }
  
  29.9%{
      background:darken(#d7d092,10%);
  }
  30%{
      transform: perspective( 200px )
      rotateY( -90deg );
      background:#dad16e;
  }
  
  54.999%{
    opacity:1;
  }
  55%{
    opacity:1;
  }
  
  60%{
    transform: perspective( 200px )
    rotateY( -180deg );
    background:#897e04;
  }
  
  100%{
    transform: perspective( 200px )
    rotateY( -180deg );
    background:#897e04;
  }
}